<aside class="aside aside-fixed" *ngIf="isLogin">
  <div class="aside-header">
    <a href="/" class="aside-logo">ALM<span>Group</span></a>
    <a href="javascript:void(0)" class="aside-menu-link">
      <i data-feather="menu"></i>
      <i data-feather="x"></i>
    </a>
  </div>
  <div class="aside-body">
    <div class="aside-loggedin">
      <div class="d-flex align-items-center justify-content-start">
        <a href="javascript:void(0)" class="avatar"><img src="https://i.imgur.com/1SbMW5W.png" class="rounded-circle"
            alt=""></a>
        <div class="aside-alert-link">
          <a href="javascript:void(0)" (click)="logout()" data-toggle="tooltip" title="Sign out"><i
              data-feather="log-out"></i></a>
        </div>
      </div>
      <div class="aside-loggedin-user">
        <a href="#loggedinMenu" class="d-flex align-items-center justify-content-between mg-b-2" data-toggle="collapse">
          <h6 class="tx-semibold mg-b-0">{{adminProfile?.name}}</h6>
          <i data-feather="chevron-down"></i>
        </a>
        <p class="tx-color-03 tx-12 mg-b-0">Quản trị viên</p>
      </div>
      <div class="collapse" id="loggedinMenu">
        <ul class="nav nav-aside mg-b-0">
          <li class="nav-item"><a href="javascript:void(0)" (click)="logout()" class="nav-link"><i
                data-feather="log-out"></i> <span>Đăng xuất</span></a></li>
        </ul>
      </div>
    </div><!-- aside-loggedin -->
    <ul class="nav nav-aside">
      <li class="nav-label">Bảng điều khiển</li>
      <li class="nav-item"><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['']" class="nav-link"><i data-feather="shopping-bag"></i>
          <span>Thống kê</span></a></li>

      <li class="nav-label mg-t-25">Đơn Hàng</li>
      <li class="nav-item"><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}"
          [routerLink]="['order/list']" class="nav-link"><i data-feather="layers"></i>
          <span>Quản Lý Đơn Hàng</span></a></li>

      <li class="nav-label mg-t-25">Tài Khoản</li>
      <li class="nav-item"><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}"
          [routerLink]="['user/create']" class="nav-link"><i data-feather="activity"></i>
          <span>Tạo Mới</span></a></li>
      <li class="nav-item"><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}"
          [routerLink]="['user/list']" class="nav-link"><i data-feather="layers"></i>
          <span>Danh Sách Tài Khoản</span></a></li>
          
      <li class="nav-label mg-t-25">Đồ Ăn</li>
      <li class="nav-item"><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}"
          [routerLink]="['food/create']" class="nav-link"><i data-feather="activity"></i>
          <span>Tạo Mới</span></a></li>
      <li class="nav-item"><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}"
          [routerLink]="['food/list']" class="nav-link"><i data-feather="layers"></i>
          <span>Danh Sách Đồ Ăn</span></a></li>

      <li class="nav-label mg-t-25">Set Đồ Ăn</li>
      <li class="nav-item"><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}"
          [routerLink]="['set/create']" class="nav-link"><i data-feather="activity"></i>
          <span>Tạo Mới</span></a></li>
      <li class="nav-item"><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}"
          [routerLink]="['set/list']" class="nav-link"><i data-feather="layers"></i>
          <span>Danh Sách Set Đồ Ăn</span></a></li>

      <li class="nav-label mg-t-25">Danh Mục</li>
      <li class="nav-item"><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}"
          [routerLink]="['category/create']" class="nav-link"><i data-feather="activity"></i>
          <span>Tạo Mới</span></a></li>
      <li class="nav-item"><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}"
          [routerLink]="['category/list']" class="nav-link"><i data-feather="layers"></i>
          <span>Danh Sách Danh Mục</span></a></li>

          <li class="nav-label mg-t-25">Lộ Trình Ăn Uống</li>
      <li class="nav-item"><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}"
          [routerLink]="['schedule/create']" class="nav-link"><i data-feather="activity"></i>
          <span>Tạo Mới</span></a></li>
      <li class="nav-item"><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}"
          [routerLink]="['schedule/list']" class="nav-link"><i data-feather="layers"></i>
          <span>Danh Sách Lộ Trình</span></a></li>
    </ul>
  </div>
</aside>

<div class="content ht-100v pd-0" *ngIf="isLogin">
  <div class="content-header">
    <div class="content-search">
      <i data-feather="search"></i>
      <input type="search" class="form-control" placeholder="Tìm kiếm...">
    </div>
  </div><!-- content-header -->

  <div class="content-body pd-0">

    <router-outlet></router-outlet>

  </div>
</div>
<router-outlet *ngIf="!isLogin"></router-outlet>