<!-- breadcrumb area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap text-center">
                    <nav aria-label="breadcrumb">
                        <h2>AnLanhManh - An Toàn, Sạch Sẽ và Dinh Dưỡng</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Giới Thiệu AnLanhManh.Com</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->

<!-- about wrapper start -->
<div class="about-us-wrapper pt-60 pb-60 pb-lg-56 pt-sm-58">
    <div class="container">
        <div class="row">
            <!-- About Text Start -->
            <div class="col-xl-6 col-lg-6">
                <div class="about-text-wrap">
                    <h2><span>Giới Thiệu AnLanhManh.Com</span>AnLanhManh là gì?</h2>
                    <p>Được xây dựng từ cuối năm 2019 tại TP. Hà Nội, Việt Nam, AnLanhManh là nơi tin cậy cho mọi người
                        có thể tìm kiếm, đánh giá, bình luận các món ăn dinh dưỡng, lộ trình ăn uống, ... tại Việt Nam -
                        từ website hoặc ứng dụng di động. Tất cả thành
                        viên từ Bắc đến Nam, AnLanhManh giúp mọi người có những bữa ăn dinh dưỡng và sức khỏe tốt nhất
                        mọi lúc mọi nơi.</p>
                    <br>
                    <h2>Phân loại rõ ràng</h2>
                    <p>AnLanhManh phân loại các món ăn và các combo đồ ăn ra rất chi tiết: theo mục đích, theo sức khỏe,
                        theo lộ trình, ... Điều này giúp người dùng chọn đồ ăn theo mục đích của mình rất nhanh chóng.
                    </p>
                    <br>
                    <h2>Bình luận & Đánh giá</h2>
                    <p>AnLanhManh cho phép thành viên chèn hình ảnh vào bình luận, đánh giá món ăn, đánh giá set đồ ăn,
                        điều này giúp cộng đồng có cái nhìn tổng quan về các tiêu
                        chí của mỗi món ăn hoặc set đồ ăn dinh dưỡng. Do đặc thù của món ăn hay set đồ ăn theo từng bệnh
                        lý hoặc lộ trình khác nhau, ví dụ lộ trình tập gym, cộng đồng sẽ quan tâm đến lượng Protein cần
                        thiết... Đây chính là điểm khác biệt của AnLanhManh so với cách dịch vụ khác.</p>
                </div>
            </div>
            <!-- About Text End -->
            <!-- About Image Start -->
            <div class="col-xl-5 col-lg-6 ml-auto">
                <div class="about-image-wrap">
                    <video width="100%" poster="assets/img/logo/thumbnail.png" controls>
                        <source src="../../resources/video/ALM PROJECT FINALLY-NA.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    <!-- <img src="assets/img/logo/thumbnail.png" alt="About" /> -->
                </div>
            </div>
            <!-- About Image End -->
        </div>
    </div>
</div>
<!-- about wrapper end -->

<!-- choosing area start -->
<div class="choosing-area pt-60 pb-56 pb-md-24 pb-sm-24">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2>Tại Sao Lại Chọn AnLanhManh</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-choose-item text-center mb-md-30 mb-sm-30">
                    <i class="fa fa-plane"></i>
                    <h4>Miễn Phí Vận Chuyển</h4>
                    <p>Miễn phí vận chuyển với những đơn hàng trên 500.000<sup>đ</sup></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-choose-item text-center mb-md-30 mb-sm-30">
                    <i class="fa fa-globe"></i>
                    <h4>Hoàn Tiền Nhanh Chóng</h4>
                    <p>Cam kết hoàn lại 100% số tiền nếu bạn sử dụng sản phẩm của AnLanhManh không hiệu quả</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-choose-item text-center mb-md-30 mb-sm-30">
                    <i class="fa fa-comments"></i>
                    <h4>Hỗ Trợ Trực Tuyến</h4>
                    <p>Nếu bạn cần tư vấn về món ăn dinh dưỡng phù hợp với mình, chúng tôi luôn sẵn sàng!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- choosing area end -->