<!-- breadcrumb area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap text-center">
                    <nav aria-label="breadcrumb">
                        <h2>Kết nối với AnLanhManh</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->

<!-- contact area start -->
<div class="contact-area">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6">
                <div class="contact-message pt-56 pb-60">
                    <h2>Góp ý cho chúng tôi</h2>
                    <form id="contact-form"
                        action="https://demo.hasthemes.com/selena-preview/selena/assets/php/mail.php" method="post"
                        class="contact-form">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <input name="first_name" placeholder="Tên" type="text" required>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <input name="phone" placeholder="Số điện thoại *" type="text" required>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <input name="email_address" placeholder="Email *" type="text" required>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <input name="contact_subject" placeholder="Tiêu đề *" type="text">
                            </div>
                            <div class="col-12">
                                <div class="contact2-textarea text-center">
                                    <textarea placeholder="Nội dung *" name="message" class="form-control2"
                                        required=""></textarea>
                                </div>
                                <div class="contact-btn">
                                    <button class="btn btn__bg btn__sqr" type="submit">Gửi</button>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <p class="form-messege"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-info bg-gray pt-56 pb-md-46 mb-sm-24">
                    <h2>Liên hệ với chúng tôi</h2>
                    <p>Bạn có thể liên hệ với chúng tôi qua những cách dưới đây:</p>
                    <ul>
                        <li><i class="fa fa-fax"></i> Địa chỉ : Số 8A Tôn Thất Thuyết, Cầu Giấy, Hà Nội</li>
                        <li><i class="fa fa-phone"></i> cskh@anhlanhmanh.com</li>
                        <li><i class="fa fa-envelope-o"></i>0987773751</li>
                    </ul>
                    <div class="working-time">
                        <h3>Thời gian làm việc</h3>
                        <p><span>Tất cả các ngày trong tuần từ :</span>07h – 22h </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact area end -->

<!-- map area start -->
<div class="row" style="width: 100%;margin: 0;">
    <div class="col-lg-12 mt-50">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.096689065788!2d105.7800937154232!3d21.028816893151088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313455f9bdf0e1c7%3A0x26caee8e7662dd9b!2zRlBUIEFwdGVjaCBIw6AgTuG7mWk!5e0!3m2!1svi!2s!4v1576031086192!5m2!1svi!2s"
            width="100%" height="650" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>
<!-- map area end -->