<div class="pd-20">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mg-b-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">List Set</li>
        </ol>
    </nav>
    <div class="table-responsive mt-4">
        <table class="table table-bordered mg-b-0">
            <thead>
                <tr>
                    <th scope="col" width="5%">ID</th>
                    <th scope="col" width="30%">Tên</th>
                    <th scope="col" width="40%">Mô Tả</th>
                    <th scope="col" width="15%">Giá Tiền</th>
                    <th scope="col" width="10%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listSet?.data">
                    <th scope="row">{{item.id}}</th>
                    <td><a href="{{client_url}}/c/{{util.generateURL(item.name, item.id)}}"
                            target="_blank">{{item.name}}</a></td>
                    <td>{{item.description}}</td>
                    <td>{{util.formatPrice(item.price)}}</td>
                    <td>
                        <a href="/set/create?setId={{item.id}}" class="mg-r-5">Sửa</a>
                        <a href="javascript:void(0)" (click)="deleteSet(item.id)" class="text-danger">Xóa</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div><!-- table-responsive -->
    <div class="demo-modal-btn" *ngIf="listSet?.restPagination?.page != listSet?.restPagination?.totalPages">
        <a href="javascript:void(0)" (click)="showMoreData()" class="btn btn-default" *ngIf="!isLoading">Xem Thêm</a>
        <div class="spinner-border" role="status" *ngIf="isLoading">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>