<!-- hero slider area start -->
<section class="hero-slider-area pt-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hero-slider-active slider-arrow-style">
                    <div class="single-slider">
                        <div class="hero-bg hero-bg__2 hero-bg__4"
                            style="background-image:url(assets/img/slider/slide_5.jpg)">
                            <div class="content-inner">
                                <div class="slider-content text-center">
                                    <h1>Đồ Ăn Tươi Ngon Và Bổ Dưỡng</h1>
                                    <p>AnLanhManh sẽ cung cấp cho bạn tất cả thứ đó</p>
                                    <a href="/pl/list?page=1" class="btn btn__bg">Khám Phá Ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hero slider area start -->

<!-- banner statistic area start -->
<div class="banner-statistics pt-30">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-6 col-md-6">
                <div class="img-container mb-sm-30">
                    <a href="/pl/list?page=1">
                        <img src="assets/img/banner/banner-6.jpg" alt="banner-image">
                    </a>
                    <div class="banner-text text-black text-center">
                        <h4>Chúng tôi cung cấp cho bạn bữa ăn</h4>
                        <h2>100% Dinh Dưỡng</h2>
                        <a href="/cl?page=1" class="btn btn__shop">Khám Phá Ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="img-container mb-sm-30">
                    <a href="javascript:void(0)">
                        <img src="assets/img/banner/banner-7.jpg" alt="banner-image">
                    </a>
                    <div class="banner-text pl-60 pl-xs-0">
                        <h4>Vì sức khỏe của bạn nên chúng tôi muốn cung cấp</h4>
                        <h2>Lộ trình ăn uống</h2>
                        <h4>Cho bạn</h4>
                        <a href="/schedule" class="btn btn__shop">Khám Phá Lộ Trình</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner statistic area end -->

<!-- service features start -->
<section class="service-features pt-30">
    <div class="container">
        <div class="service-features-inner theme-color">
            <div class="single-features-item">
                <div class="features-icon">
                    <i class="ion-paper-airplane"></i>
                </div>
                <div class="features-content">
                    <h5>Miễn Phí Vận Chuyển</h5>
                    <p>Miễn phí vận chuyển với những</p>
                    <p>đơn hàng trên 500.000<sup>đ</sup></p>
                </div>
            </div>
            <div class="single-features-item">
                <div class="features-icon">
                    <i class="ion-social-usd"></i>
                </div>
                <div class="features-content">
                    <h5>Hoàn Tiền Nhanh Chóng</h5>
                    <p>Cam kết hoàn lại 100% số tiền nếu bạn sử dụng</p>
                    <p>sản phẩm của AnLanhManh không hiệu quả</p>
                </div>
            </div>
            <div class="single-features-item">
                <div class="features-icon">
                    <i class="ion-help-buoy"></i>
                </div>
                <div class="features-content">
                    <h5>Hỗ Trợ Trực Tuyến</h5>
                    <p>Nếu bạn cần tư vấn về món ăn dinh dưỡng</p>
                    <p>phù hợp với mình, chúng tôi luôn sẵn sàng!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service features end -->

<!-- popular category start -->
<section class="popular-category bg-gray mt-minus pt-60 pb-60 pb-md-30 pb-sm-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center pt-62">
                    <h2>Nhóm Dinh Dưỡng Nổi Bật</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="category-single-item mb-md-30 mb-sm-30">
                    <div class="category-item-inner color1 text-center">
                        <div class="category-content">
                            <h2>Vitamin và khoáng chất</h2>
                        </div>
                        <div class="category-thumb">
                            <img src="assets/img/category/cat-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div> <!-- end single item -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="category-single-item mb-md-30 mb-sm-30">
                    <div class="category-item-inner color2 text-center">
                        <div class="category-content">
                            <h2>Chất bột đường</h2>
                        </div>
                        <div class="category-thumb">
                            <img src="assets/img/category/cat-2.png" alt="">
                        </div>
                    </div>
                </div>
            </div> <!-- end single item -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="category-single-item mb-md-30 mb-sm-30">
                    <div class="category-item-inner color3 text-center">
                        <div class="category-content">
                            <h2>Chất béo</h2>
                        </div>
                        <div class="category-thumb">
                            <img src="assets/img/category/cat-3.png" alt="">
                        </div>
                    </div>
                </div>
            </div> <!-- end single item -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="category-single-item mb-md-30 mb-sm-30">
                    <div class="category-item-inner color4 text-center">
                        <div class="category-content">
                            <h2>Chất đạm</h2>
                        </div>
                        <div class="category-thumb">
                            <img src="assets/img/category/cat-4.png" alt="">
                        </div>
                    </div>
                </div>
            </div> <!-- end single item -->
        </div>
    </div>
</section>
<!-- popular category end -->

<!-- product tab area start -->
<section class="product-tab pt-60 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2>Sản Phẩm Cho Bạn</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- product tab menu start -->
                <div class="product-tab-menu pb-30">
                    <ul class="nav justify-content-center">
                        <li *ngFor="let item of outProductData">
                            <a href="javascript:void(0)" (click)="chooseTabOutProduct(item?.tab, item?.id)"
                                [class]="outProductTab == item?.tab ? 'active' : ''">{{item?.name}}</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content loadcontent" *ngIf="dataFood == null">
                    <img src="/assets/images/loading.gif">
                </div>
                <!-- product tab menu end -->
                <div class="tab-content" *ngIf="dataFood != null">
                    <div *ngFor="let item of outProductData; let i = index;"
                        [class]="outProductTab == item.tab ? 'tab-pane fade active show' : 'tab-pane fade'">
                        <div class="product-tab-wrapper">
                            <div class="row">

                                <div *ngFor="let food of dataFood | slice:0:8" class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="product-item mb-50">
                                        <div class="product-thumb">
                                            <a href="/p/{{util.generateURL(food.name, food.id)}}">
                                                <img src={{food?.image}} alt="">
                                            </a>
                                            <div class="quick-view-link">
                                                <a href="/p/{{util.generateURL(food.name, food.id)}}" data-toggle=""
                                                    data-target=""> <span data-toggle="tooltip" title="Xem chi tiết"><i
                                                            class="ion-ios-eye-outline"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <div class="ratings">
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                                <span><i class="ion-android-star"></i></span>
                                            </div>
                                            <div class="product-name">
                                                <h4 class="h5">
                                                    <a
                                                        href="/p/{{util.generateURL(food.name, food.id)}}">{{food.name}}</a>
                                                    <p class="price-box"><span class="regular-price">{{food.calorie}}
                                                            calo/ {{food.weight}} g</span></p>
                                                </h4>
                                            </div>
                                            <div class="price-box">
                                                <span class="regular-price">{{util.formatPrice(food.price)}}</span>
                                                <span class="old-price"><del></del></span>
                                            </div>
                                            <div class="product-action-link">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Yêu thích"><i
                                                        class="ion-android-favorite-outline"></i></a>
                                                <a href="javascript:void(0)" (click)="addToCart(food, 'foodId')"
                                                    data-toggle="tooltip" title="Thêm vào giỏ hàng"><i
                                                        class="ion-bag"></i></a>
                                                <a href="/compare?id={{food.id}}&type=food" data-toggle="tooltip" title="So sánh"><i
                                                        class="ion-ios-shuffle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product tab area end -->
<section class="product-tab pt-60 pb-30 comboList">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2>Combo đồ ăn cho bạn</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-content loadcontent" *ngIf="dataCombo == null">
                    <img src="/assets/images/loading.gif">
                </div>
                <!-- product tab menu end -->
                <div class="tab-content" *ngIf="dataCombo != null">
                    <div class="product-tab-wrapper">
                        <div class="row">
                            <div *ngFor="let combo of dataCombo | slice:0:8" class="col-lg-3 col-md-4 col-sm-6">
                                <div class="product-item mb-50">
                                    <div class="product-thumb">
                                        <a href="/c/{{util.generateURL(combo.name, combo.id)}}">
                                            <img src={{combo?.image}} alt="">
                                        </a>
                                        <div class="quick-view-link">
                                            <a href="/c/{{util.generateURL(combo.name, combo.id)}}" data-toggle=""
                                                data-target=""> <span data-toggle="tooltip" title="Xem chi tiết"><i
                                                        class="ion-ios-eye-outline"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-content text-center">
                                        <div class="ratings">
                                            <span><i class="ion-android-star"></i></span>
                                            <span><i class="ion-android-star"></i></span>
                                            <span><i class="ion-android-star"></i></span>
                                            <span><i class="ion-android-star"></i></span>
                                            <span><i class="ion-android-star"></i></span>
                                        </div>
                                        <div class="product-name">
                                            <h4 class="h5">
                                                <a
                                                    href="/c/{{util.generateURL(combo.name, combo.id)}}">{{combo.name}}</a>
                                                <p class="price-box"><span class="regular-price">{{combo.calorie}}
                                                        calo/ {{combo.weight}} g</span></p>
                                            </h4>
                                        </div>
                                        <div class="price-box">
                                            <span class="regular-price">{{util.formatPrice(combo.price)}}</span>
                                            <span class="old-price"><del></del></span>
                                        </div>
                                        <div class="product-action-link">
                                            <a href="javascript:void(0)" data-toggle="tooltip" title="Yêu thích"><i
                                                    class="ion-android-favorite-outline"></i></a>
                                            <a href="javascript:void(0)" (click)="addToCart(combo, 'comboId')"
                                                data-toggle="tooltip" title="Thêm vào giỏ hàng"><i class="ion-bag"></i></a>
                                            <a href="/compare?id={{combo.id}}&type=combo" data-toggle="tooltip" title="So sánh"><i
                                                    class="ion-ios-shuffle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- call to action area start -->
<section class="call-to-action">
    <div class="container">
        <div class="call-to-action-inner">
            <div class="row">
                <div class="col-12">
                    <div class="call-to-action-content text-center">
                        <h1>Rất Nhiều Đồ Ăn Bổ Dưỡng Tốt Cho Sức Khỏe</h1>
                        <h1>Dành Riêng Cho Bạn</h1>
                        <a [href]="token ? '/suggest' : '/login?back=/suggest'" class="btn btn__learn-more">Khám Phá
                            Ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- call to action area end -->